@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<style>
    .btn-biru {
        background-color: #007bff; 
        color: #ffffff;
    }

    .btn-kuning {
        background-color: #ffc107; 
        color: #000000; 
    }

    .btn-hijau {
        background-color: #28a745; 
        color: #ffffff; 
    }
</style>
<div style="margin-bottom: 20px;">
    <button onclick="window.location.href='@Url.Action("Index", "FileManager")'" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fa fa-plus"></i>
        </span>
        <span class="text">Add Data</span>
    </button>
</div>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">APROVAL - @ViewBag.Title</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tableBS" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        <th>NAMA</th>
                                        <th>LOKASI</th>
                                        <th>UPLOAD BY</th>
                                        <th>DATETIME</th>
                                        <th>STATUS</th>
                                        <th>AKSI</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <!-- JQuery harus dimuat terlebih dahulu -->
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>

    <script>
        var link = '@Url.Action("Function", "Controller")'
        var controller_name = "@ViewBag.Controller"
        var a
        var dataTable

        $(document).ready(function () {

            getCredentials()
            getAll()
        })

        function btnAdd() {
            $('#btnSave').show()
            $('#btnUpdate').hide()
            $('.modalBS').modal('show');
            $('#formBS').trigger("reset")
        }

        function getCredentials() {
            //GetNRP
            $('#insert_by').val("@Html.Raw(ViewBag.insert_by)")
        }

        function getAll() {
            var link = '@Url.Action("GetAll", "Approval")';

            dataTable = $("#tableBS").DataTable({
                "ajax": {
                    "url": link,
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "fileName" },
                    { "data": "pathFile" },
                    { "data": "uploadBy" },
                    { "data": "uploadTime" },
                    {
                        "data": "status",
                        "render": function (data) {
                            var buttonClass = '';

                            // Tentukan kelas berdasarkan nilai status
                            switch (data) {
                                case 'Waiting':
                                    buttonClass = 'btn btn-biru';
                                    break;
                                case 'Inreview':
                                    buttonClass = 'btn btn-kuning';
                                    break;
                                case 'Approve':
                                    buttonClass = 'btn btn-hijau';
                                    break;
                                default:
                                    buttonClass = 'btn btn-default'; // Kelas default jika status tidak sesuai
                                    break;
                            }

                            // Kembalikan HTML untuk tombol dengan kelas yang sesuai
                            return '<button class="' + buttonClass + ' m-1 px-5 radius-30">' + data + '</button>';
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            var editButton = '<button onclick="btnEdit(' + data + ')" class="btn btn-dark m-1 px-5 radius-30">' +
                                '  <i class="fa fa-check"></i>' +
                                '</button>';
                            return editButton;
                        },
                        "orderable": false,
                        "width": "180px",
                        "searchable": false
                    }
                ],
                "language": {
                    "emptyTable": "Tidak ada data"
                },
                "createdRow": function (row, data, index) {
                    $(row).find('td').css({
                        'font-size': '16px',
                        'font-weight': 'bold'
                    });
                }
            });
        }


        function getData(id) {
            var link = '@Url.Action("Get", "Dept")';

            $.ajax({
                type: "GET",
                url: link + '/' + id,
                success: function (data) {
                    if (data.success) {
                        $('#id').val(data.data.id)
                        $('#dept_code').val(data.data.dept_code)
                        $('#departemen').val(data.data.departemen)
                    } else {
                        alert(data.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan: ' + error);
                }
            });
        }
    </script>
}




