<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>X Mine| System Integration</title>
	<!--favicon-->
	<link rel="icon" href="~/assets/images/mine.png" type="image/png" />
	<!--plugins-->
	<link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="~/assets/css/pace.min.css" rel="stylesheet" />
	<script src="~/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="~/assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="~/assets/css/app.css" />
	<link rel="stylesheet" href="~/assets/css/dark-sidebar.css" />
	<link rel="stylesheet" href="~/assets/css/dark-theme.css" />

	<link rel="stylesheet" href="~/lib/jquery-ui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div class="">
					<img src="~/assets/images/mine.png" width="80" alt="" />
				</div>
				<div>
					<h4 class="logo-text">X-MINE</h4>
				</div>
				<a href="javascript:;" class="toggle-btn ms-auto"> <i class="bx bx-menu"></i>
				</a>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				@foreach (var menu in ViewBag.Menu)  
				{
					if (menu.type == "General" && menu.hidden == "false")
					{
						<li>
							@if (menu.new_tab == "true")
							{
								<a target="_blank" href="@Url.Action((string)menu.link_function, (string)menu.link_controller)" class="has-arrow">
									<div class="parent-icon icon-color-1"><i class="bx bx-right-arrow"></i></div>
									<div class="menu-title">@menu.title</div>
								</a>
							}
							else
							{
								<a href="@Url.Action((string)menu.link_function, (string)menu.link_controller)" class="has-arrow">
									<div class="parent-icon icon-color-1"><i class="bx bx-right-arrow"></i></div>
									<div class="menu-title">@menu.title</div>
								</a>
							}
						</li>
					}
				}

				@if (ViewBag.MenuMineDocCount > 0)
				{
					<li>
						<a href="javascript:;" class="has-arrow">
							<div class="parent-icon icon-color-2"><i class="bx bx-spreadsheet"></i></div>
							<div class="menu-title">Dokumen</div>
						</a>
						<ul>
							@foreach (var menu in ViewBag.Menu)
							{
								if (menu.type == "MineDoc" && menu.hidden == "false")
								{
									<li><a href="@Url.Action((string)menu.link_function, (string)menu.link_controller)"><i class="bx bx-right-arrow-alt"></i>@menu.title</a></li>
								}
							}
						</ul>
					</li>
				}

				@if (ViewBag.MenuMasterCount > 0)
				{
					<li>
						<a href="javascript:;" class="has-arrow">
							<div class="parent-icon icon-color-3"><i class="bx bx-folder"></i></div>   <i class=''></i>
							<div class="menu-title">Master</div>
						</a>
						<ul>
							@foreach (var menu in ViewBag.Menu)
							{
								if (menu.type == "Master" && menu.hidden == "false")
								{
									<li><a href="@Url.Action((string)menu.link_function, (string)menu.link_controller)"><i class="bx bx-right-arrow-alt"></i>@menu.title</a></li>
								}
							}
						</ul>
					</li>
				}
			</ul>



			<!--end navigation-->
		</div>
		<!--end sidebar-wrapper-->
		<!--header-->
		<header class="top-header">
			<nav class="navbar navbar-expand">
				<div class="left-topbar d-flex align-items-center">
					<a href="javascript:;" class="toggle-btn">	<i class="bx bx-menu"></i>
					</a>
				</div>
				<div class="flex-grow-1 search-bar">
					<div class="input-group">
						 <button class="btn btn-search-back search-arrow-back" type="button"><i class="bx bx-arrow-back"></i></button>
						 <input type="text" class="form-control" placeholder="search" />
						 <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i></button>
					</div>
				</div>
				<div class="right-topbar ms-auto">
					<ul class="navbar-nav">
						<li class="nav-item search-btn-mobile">
							<a class="nav-link position-relative" href="javascript:;">
								<i class="bx bx-search vertical-align-middle"></i>
							</a>
						</li>
						<span class="mr-2 d-none d-lg-inline text-gray-600 small">
							@Html.Raw(ViewContext.HttpContext.Session.GetString("nama") ?? "No Name") -
							@Html.Raw(ViewContext.HttpContext.Session.GetString("kategori_user_id") ?? "No Kategori")
						</span>

					</ul>
				</div>

			</nav>
		</header>
		<!--end header-->
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					@RenderBody()
@* 					<div class="chat-wrapper">

					</div> *@
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<div class="footer">
			<p class="no-s">@DateTime.Now.Year © X MINE by System Integration.</p>
			</p>
		</div>
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<!--start switcher-->
	<div class="switcher-body">
		<button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bx bx-cog bx-spin"></i></button>
		<div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
		  <div class="offcanvas-header border-bottom">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
		  </div>
		  <div class="offcanvas-body">
			<h6 class="mb-0">Theme Variation</h6>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode" value="option1" checked>
			  <label class="form-check-label" for="lightmode">Light</label>
			</div>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode" value="option2">
			  <label class="form-check-label" for="darkmode">Dark</label>
			</div>
			<hr>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darksidebar" value="option3">
				<label class="form-check-label" for="darksidebar">Semi Dark</label>
			  </div>
			  <hr>
			 <div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons" value="option3">
				<label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
			  </div>
		  </div>
		</div>
	   </div>
	   <!--end switcher-->
	<!-- JavaScript -->
	<!-- Bootstrap JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	
	<!--plugins-->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

	<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
	<script src="~/lib/elfinder/js/elfinder.full.js"></script>

	@RenderSection("scripts", required: false)
@* 	<script>
		new PerfectScrollbar('.chat-list');
		new PerfectScrollbar('.chat-content');
	</script> *@
	<!-- App JS -->
	<script src="~/assets/js/app.js"></script>
</body>

</html>